@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-bg
{
  background-color: #101050 !important;
}
.task-list
{
    background-color: #101050!important;
    border-radius: 4px!important;
    margin: 3px!important;

}
.img-personal
{
  max-width: 400px!important;
}
.data-picker
{
 border-color:#101050;
  font-size: 16px;
  padding: 15px 16px;
  border-radius: 4px;
}
.node-header
{
    text-align: center!important;
}
.node-border{
    border-radius: 4px;
    border:4px #101050 solid;
}
.activity-university{
    border-color: #e78808 !important;
}
.activity-ownBusiness{
    border-color: #ee0cb7 !important;
}
.activity-freelancer{
    border-color: #0303de !important;
}
.activity-company{
    border-color: #2ce878 !important;

}
.multi-text
{
    width: 400px;

}
